{% extends 'main_app/index.html' %} {% load static %} {% block content %}
<div class="landing-section">
  <img
    src="static/images/pic.JPG"
    class="mx-auto mb-4 w-40 h-40 sm:w-48 sm:h-48 md:w-64 md:h-64 rounded-lg object-cover object-center"
    alt="Avatar"
  />
  <h5 class="mb-2 text-xl font-medium leading-tight">{{ about.name }}</h5>
  <p class="text-white font-bold">
    <a
      href=""
      class="typewrite"
      data-period="2000"
      data-type='[ "Software Engineer", "Full Stack Web Developer" ]'
    >
      <span class="wrap"></span>
    </a>
  </p>

  <!-- Simple Glassmorphism Introduction Card -->
  <div class="w-full max-w-lg mx-auto mt-[20px]">
    <!-- Glassmorphism Card -->
    <div
      class="backdrop-blur-lg bg-white/10 rounded-xl border border-white/20 shadow-xl p-6"
    >
      <!-- Introduction Text -->
      <div>
        <p class="text-gray-600 leading-relaxed">
          Welcome to my website! Hi, I'm Dana Gabay a Full Stack Web Developer
          who enjoys building seamless, user-friendly web applications from
          front to back. With a passion for clean code, creative design, and
          problem-solving.
        </p>
        <div class="download-cv">
          <a href="/static/DanaGCV.pdf" class="btn-download" download
            >Download CV</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<section id="about" class="about-me">
  <div class="max-w-7xl px-4 sm:px-6 lg:px-8 w-full">
    <div
      class="flex flex-col md:flex-row items-center max-w-8xl mx-auto w-full"
    >
      <div
        class="about-img bg-white/20 backdrop-blur-lg rounded-none w-64 h-64 mb-6 md:mb-0 md:mr-10 shadow-xl"
        data-aos="fade-right"
      >
        <img class="rounded-none w-64 h-64 m-10 object-contain border-white/50"
        src="{% static "images/pic2.png" %}" alt="Profile Image" />
      </div>
      <div class="flex flex-col w-full md:w-3/4">
        <div class="mb-4 mt-4 md:mt-0" data-aos="fade-left">
          <h2 class="text-3xl md:text-4xl font-bold text-gray-800">
            A little bit about me..
          </h2>
        </div>
        <div class="w-full" data-aos="fade-left">
          <p class="text-base">
            I'm an aspiring software engineer with a passion for creating
            functional, user-friendly web applications. My journey into tech
            stems from a diverse background that blends creativity,
            problem-solving, and helping others. Years of working in
            customer-facing roles have taught me the importance of empathy,
            adaptability, and clear communication. My appreciation for design
            influences how I approach building digital experiences focusing on
            both aesthetics and seamless user interactions. I enjoy bringing
            ideas to life through code, creating solutions that are not only
            practical but visually engaging.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="skills-section">
  <div class="justify-center p-15">
    <h2 class="skills-heading text-2xl font-semibold p-25" data-aos="fade-up">
      Skills
    </h2>
    <h1 class="skills-subheading text-3xl font-bold" data-aos="fade-up">
      What skills do I have?
    </h1>
  </div>
  <div class="skills-icons">
    <img src="/static/images/html.png" class="skill-icon" data-aos="zoom-in" />
    <img src="/static/images/css-3.png" class="skill-icon" data-aos="zoom-in" />
    <img src="/static/images/js.png" class="skill-icon" data-aos="zoom-in" />
    <img
      src="/static/images/python3.png"
      class="skill-icon"
      data-aos="zoom-in"
    />
    <img src="/static/images/atom.png" class="skill-icon" data-aos="zoom-in" />
    <img
      src="/static/images/django.png"
      class="skill-icon"
      data-aos="zoom-in"
    />
    <img
      src="/static/images/node.js.png"
      class="skill-icon"
      data-aos="zoom-in"
    />
    <img src="/static/images/sql.png" class="skill-icon" data-aos="zoom-in" />
    <img
      src="/static/images/tailwind.png"
      class="skill-icon"
      data-aos="zoom-in"
    />
    <img
      src="/static/images/bootstrap.png"
      class="skill-icon"
      data-aos="zoom-in"
    />
  </div>
</section>
<section id="projects" class="project-section">
  <div class="project-container">
    <div class="project-header">
      <h1 class="project-heading text-3xl font-bold p-25">Projects</h1>
      <h2 class="project-subheading text-2xl font-semibold">
        What have I created?
      </h2>
    </div>
    <div class="project-grid">
      <div class="project-card">
        <img src="/static/images/simon.png" />
        <div class="project-details">
          <h2 class="text-2xl font-semibold p-25">{{ simon.title }}</h2>
          <details>
            <summary class="summary">Description ⏚</summary>
            <p>{{ simon.description }}</p>
          </details>
        </div>
        <div class="project-links">
          <a href="{{ simon.url }}" target="_blank">Live View</a>
          <a href="{{ simon.github_url }}" target="_blank">GitHub</a>
        </div>
      </div>
      <div class="project-card">
        <img src="/static/images/bingebuddy.png" />
        <div class="project-details">
          <h2 class="text-2xl font-semibold p-25">{{ binge_buddy.title }}</h2>
          <details>
            <summary class="summary">Description ⏚</summary>
            <p>{{ binge_buddy.description }}</p>
          </details>
        </div>
        <div class="project-links">
          <a href="{{ binge_buddy.url }}" target="_blank">Live View</a>
          <a href="{{ binge_buddy.github_url }}" target="_blank">GitHub</a>
        </div>
      </div>
      <div class="project-card">
        <img src="/static/images/legodex.png" />
        <div class="project-details">
          <h2 class="text-2xl font-semibold p-25">{{ legodex.title }}</h2>
          <details>
            <summary class="summary">Description ⏚</summary>
            <p>{{ legodex.description }}</p>
          </details>
        </div>
        <div class="project-links">
          <a href="{{ legodex.url }}" target="_blank">Live View</a>
          <a href="{{ legodex.github_url }}" target="_blank">GitHub</a>
        </div>
      </div>
      <div class="project-card mt-10">
        <img src="/static/images/shelfspace.png" />
        <div class="project-details">
          <h2 class="text-2xl font-semibold p-25">{{ shelf_space.title }}</h2>
          <details>
            <summary class="summary">Description ⏚</summary>
            <p>{{ shelf_space.description }}</p>
          </details>
        </div>
        <div class="project-links">
          <a href="{{ shelf_space.url }}" target="_blank">Live View</a>
          <a href="{{ shelf_space.github_url }}" target="_blank">GitHub</a>
        </div>
      </div>
    </div>
    <button
      id="showMoreBtn"
      class="mt-4 px-4 py-2 bg-[#f1adab] text-white rounded mb-10"
    >
      Show More
    </button>
  </div>
</section>
<section id="contact" class="contact-section" data-aos="zoom-in">
  <h2 class="text-3xl font-bold mb-[15px]">I'd love to stay connected!</h2>
  <p>
    If you'd like to connect, discuss a project, or share insights, feel free to
    contact me anytime.
  </p>

  <form class="contact-form" method="post">
    {% csrf_token %}

    <label for="id_email">Email:</label>
    {{ form.email }}

    <label for="id_message">Message:</label>
    {{ form.message }}

    <button class="contact-button" type="submit">Send</button>
  </form>

  <p class="success-message" style="color: green; display: none">
    Thanks! Your message has been sent.
  </p>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script>
  var TxtType = function (el, toRotate, period) {
    this.toRotate = toRotate;
    this.el = el;
    this.loopNum = 0;
    this.period = parseInt(period, 10) || 2000;
    this.txt = '';
    this.tick();
    this.isDeleting = false;
  };

  TxtType.prototype.tick = function () {
    var i = this.loopNum % this.toRotate.length;
    var fullTxt = this.toRotate[i];

    if (this.isDeleting) {
      this.txt = fullTxt.substring(0, this.txt.length - 1);
    } else {
      this.txt = fullTxt.substring(0, this.txt.length + 1);
    }

    this.el.innerHTML = '<span class="wrap">' + this.txt + '</span>';

    var that = this;
    var delta = 200 - Math.random() * 100;

    if (this.isDeleting) {
      delta /= 2;
    }

    if (!this.isDeleting && this.txt === fullTxt) {
      delta = this.period;
      this.isDeleting = true;
    } else if (this.isDeleting && this.txt === '') {
      this.isDeleting = false;
      this.loopNum++;
      delta = 500;
    }

    setTimeout(function () {
      that.tick();
    }, delta);
  };

  window.onload = function () {
    var elements = document.getElementsByClassName('typewrite');
    for (var i = 0; i < elements.length; i++) {
      var toRotate = elements[i].getAttribute('data-type');
      var period = elements[i].getAttribute('data-period');
      if (toRotate) {
        new TxtType(elements[i], JSON.parse(toRotate), period);
      }
    }
    // INJECT CSS
    var css = document.createElement('style');
    css.type = 'text/css';
    css.innerHTML = '.typewrite > .wrap { border-right: 0.08em solid #fff}';
    document.body.appendChild(css);
  };

  document.addEventListener('DOMContentLoaded', function () {
    const projects = document.querySelectorAll('.project-card');
    const showMoreBtn = document.getElementById('showMoreBtn');
    let visibleCount = 3; // Start by showing 3 projects

    // Initially hide projects beyond the first 3
    projects.forEach((project, index) => {
      if (index >= visibleCount) {
        project.style.display = 'none';
      }
    });

    showMoreBtn.addEventListener('click', function () {
      let hiddenProjects = Array.from(projects).filter(
        (project) => project.style.display === 'none'
      );

      // Show only the next 3 hidden projects
      for (let i = 0; i < 3 && i < hiddenProjects.length; i++) {
        hiddenProjects[i].style.display = 'block';
      }

      // If no more hidden projects, hide the "Show More" button
      if (hiddenProjects.length <= 3) {
        showMoreBtn.style.display = 'none';
      }
    });
  });
  AOS.init({
    duration: 1000, // Animation duration in milliseconds
  });

  document.addEventListener('DOMContentLoaded', function () {
    const form = document.querySelector('.contact-form');
    const successMsg = document.querySelector('.success-message');

    form.addEventListener('submit', function (e) {
      e.preventDefault();

      const formData = new FormData(form);

      fetch('', {
        method: 'POST',
        body: formData,
        headers: {
          'X-Requested-With': 'XMLHttpRequest',
        },
      })
        .then((response) => response.text())
        .then((data) => {
          console.log('Response received:', data);
          form.style.display = 'none';
          successMsg.style.display = 'block';
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    });
  });
</script>
{% endblock %}
